p {
    font-size: 25px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.currencies-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form .input {
    margin-left: 10px;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    min-width: 180px;
}

.form .input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form .select {
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    width: 180px;
    padding: 0;
    display: block;
    user-select: none;
    z-index: 1;
}

.form .select .option {
    clear: both;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
}

.form .btn {
    display: block;
    margin: 10px auto;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form .row {
    margin: 10px 0;
    display: flex;
}

.form .row .label {
    width: 120px;
}

.currencies {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}

#dateRow {
    display: none;
}

.d-flex {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.red, .error {
    color: red;
}

.error {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 15px;
}

.green {
    color: green;
}
